<div class="cards">
  <div
    class="card"
    *ngFor="let videogame of videogames | paginate: { id: 'foo',
    itemsPerPage: 15,
    currentPage: page,
    totalItems: 60 }"
    (click)="goToDetail(videogame._id)"
  >
   
    <img
      class="card__img"
      [src]="videogame.image"
      alt="imagen {{ videogame.name }}"
    />

        <p class="card__name">{{ videogame.name }}</p>
     
    <p class="card__price">{{ videogame.price }} €</p>
  </div>
</div>
<div
class="pagination"
>
  <pagination-controls 
  (pageChange)="page = $event" 
  id="foo"
  previousLabel="Previous"
  nextLabel="Next"
  >
  </pagination-controls>
</div>
