<h2>Comprar por categoría</h2>
<div class="category">

<div class="card__Category">
    <div class="card__Category_details">
      <a class="text-title" href="https://jobi-ecommerce.vercel.app/book-list" > 
    <img class="card_Category_img" src="../../../../assets/public/img/category_book.jpg" > 
   Libros</a>

    </div>
    
  </div>
  <div class="card__Category">
    <div class="card__Category_details">
      <a class="text-title" href="https://jobi-ecommerce.vercel.app/garment-list" >
      <img class="card_Category_img" src="../../../../assets/public/img/category_garment.png" >  
      Ropa</a>  
    </div>
    
  </div>
  <div class="card__Category">
    <div class="card__Category_details">
      <a class="text-title" href="https://jobi-ecommerce.vercel.app/videogames" >
      <img class="card_Category_img" src="../../../../assets/public/img/category_videogames.png" > 
     Videojuegos</a>  
    </div>
  
  </div>
  <div class="card__Category">
    <div class="card__Category_details">
      <a class="text-title" href="https://jobi-ecommerce.vercel.app/toys-list" >
      <img class="card_Category_img" src="../../../../assets/public/img/category_toy.png" > 
      Juguetes</a>  
    </div>

  </div>

</div>
