<h2>Comprar por categoría</h2>
<div class="category">

<div class="card__Category">
    <div class="card__Category_details">
      
    <img class="card_Category_img" src="../../../../assets/public/img/category_book.jpg" > 
    <a class="text-title" href="http://localhost:4200/book-list" >Libros</a>

    </div>
    
  </div>
  <div class="card__Category">
    <div class="card__Category_details">
      <img class="card_Category_img" src="../../../../assets/public/img/category_garment.png" >  
      <a class="text-title" href="http://localhost:4200/garment-list" >Ropa</a>  
    </div>
    
  </div>
  <div class="card__Category">
    <div class="card__Category_details">
      <img class="card_Category_img" src="../../../../assets/public/img/category_videogames.png" > 
      <a class="text-title" href="http://localhost:4200/videogames" >Videojuegos</a>  
    </div>
  
  </div>
  <div class="card__Category">
    <div class="card__Category_details">
      <img class="card_Category_img" src="../../../../assets/public/img/category_toy.png" > 
      <a class="text-title" href="#" >Juguetes</a>  
    </div>

  </div>

</div>
