.add{
    cursor: pointer;
    border: 1 px solid white;
    border-radius: 0.25rem;
    background-color: cadetblue;
    color: white;
    padding: 0.5rem;
    width: 20%;
    &:hover{
        background-color: white;
        color: cadetblue;
        border: solid 1px cadetblue;
    }
}