<div class="card-detail"
*ngIf="book;">
  
    <div>
        <img class="card-detail__img" [src]="book.image">  
    </div>

    <div class="card-detail__content" *ngIf="book; else bookNotFound">
        
        <p class="card-detail__content__name">{{ book.name }}</p>
        <p class="card-detail__content__price">{{ book.price }}€</p>
        <p class="card-detail__content__description">{{ book.description }}</p>
        <p class="card-detail__content__type"> {{ book.type }}</p>
        <p class="card-detail__content__author">{{ book.author }}</p>
        <p class="card-detail__content__pages">Nº de páginas: {{ book.pages }}</p>
        <p class="card-detail__content__editorial">Editorial: {{ book.editorial }}</p>
        <p class="card-detail__content__languague">Idioma: {{ book.languague }}</p>
        <p class="card-detail__content__bookbinding">Encuadernación: {{ book.bookbinding }}</p>
        <p class="card-detail__content__year">Año de edición: {{ book.yearEdition }}</p>
        <p class="card-detail__content__isbn">ISBN: {{ book.isbn }}</p>
    </div>


    <ng-template #bookNotFound>
        <p>No hay un libro con ese Id</p>
    </ng-template>

</div>