<p>header works!</p>

<nav>
    <ul>
        <li>
            <a [routerLink]="['home']">
                Home
            </a>
        </li>

        <li>
            <a [routerLink]="['book-list']">
                Libros
            </a>
            <a [routerLink]="['garment-list']">
                Ropa
            </a>
            <a [routerLink]="['videogames']">
                Videojuegos
            </a>
            <a [routerLink]="['toys']">
                Juguetes
            </a>
        </li>
    </ul>
</nav>
