/* You can add global styles to this file, and also import other style files */
@import "./class/class.scss";
@import "./animations/animations.scss";
@import "./colors/colors.scss";
@import "./fonts/fonts.scss";

body{
    font-weight: bold;
    font-family: Helvetica;
}
a{
    text-decoration: none;
    &:visited{
        color: #222E3A;
    }
}