<div>
  <div class="span">
    <div class="span__container">

      <div class="span__wrap" >
        <div class="card__span">
            <i class="fa-solid fa-truck-fast"></i>
            </div>
        <div class="card__span_text">
          <h4>Envío gratuito</h4>
          <p>En pedidos superiores a 50€</p>
        </div>
      </div>
 
      <div class="span__wrap">
        <div class="card__span">
          <i class="fa-solid fa-euro-sign"></i>
        </div>
        <div class="card__span_text">
          <h4>Garantía de devolución</h4>
          <p>Hasta 30 días para devolver tú pedido</p>
        </div>
      </div>
  
      <div class="span__wrap">
        <div class="card__span">
          <i class="fa-solid fa-headset"></i>
        </div>
        <div class="card__span_text">
          <h4>Soporte online</h4>
          <p>24/7</p>
        </div>
      </div>

      <div class="span__wrap">
        <div class="card__span">
          <i class="fa-regular fa-credit-card"></i>
        </div>
        <div class="card__span_text">
          <h4>Diferentes formas de pago</h4>
          <p>Múltiples tarjetas de crédito</p>
        </div>
      </div>  
      
    </div>
  </div>
</div>
