<div>
  <div class="span">
    <div class="span__container">
        <div class="card__span">
            <img class="card__span_img" src="../../../../assets/public/img/entrega.png" alt="" />
          </div>
      <div class="card__span_text">
        <h4>Envío gratuito</h4>
        <p>En pedidos superiores a 50€</p>
      </div>
 
      <div class="card__span">
        <img class="card__span_img" src="../../../../assets/public/img/reembolso.png" alt="" />
      </div>
      <div class="card__span_text">
        <h4>Garantía de devolución</h4>
        <p>Hasta 30 días para devolver tú pedido</p>
      </div>
  
      <div class="card__span">
        <img class="card__span_img" src="../../../../assets/public/img/auricular.png" alt="" />
      </div>
      <div class="card__span_text">
        <h4>Soporte online</h4>
        <p>24/7</p>
      </div>
   
      <div class="card__span">
        <img class="card__span_img" src="../../../../assets/public/img/tarjeta-de-crdito.png" alt="" />
      </div>
      <div class="card__span_text">
        <h4>Diferentes formas de pago</h4>
        <p>Múltiples tarjetas de crédito</p>
      </div>
      
    </div>
  </div>
</div>
