<div class="bestSeller">
    <h2> Los más vendidos</h2>
        <div class="bestSeller__container" >
    
        <div class="card__bestSeller" >
           <a href="https://jobi-ecommerce.vercel.app/detail/6423e7db34b2862de14418d0" > <img class="card__bestSeller_img" src="../../../../assets/public/img/bestSeller_book.jpg" alt=""></a>
        </div>
        <div class="card__bestSeller" >
            <a href="https://jobi-ecommerce.vercel.app/garmentDetail/6423e7db34b2862de14418f2" ><img class="card__bestSeller_img" src="../../../../assets/public/img/bestSeller_garment_2.jpg" alt=""></a>
        </div>
        <div class="card__bestSeller" >
            <a href="https://jobi-ecommerce.vercel.app/videogames/6423e7db34b2862de144192f" ><img class="card__bestSeller_img" src="../../../../assets/public/img/bestSeller_videogames.jpg" alt=""></a>
        </div>
        <div class="card__bestSeller" >
           <a href="https://jobi-ecommerce.vercel.app/videogames/6423e7db34b2862de1441921" > <img class="card__bestSeller_img" src="../../../../assets/public/img/bestSeller_videogames_2.jpg" alt=""></a>
        </div>

    </div>
</div>
