<div class="sale__container">
    <h5> Comprar ofertas</h5>
        <div class="container" >
    
        <div class="card__sale" >
           <a [routerLink]="['book-discounted-list']" > <img src="../../../../assets/public/img/sale_book.png" alt=""></a>
        </div>
        <div class="card__sale" >
            <a [routerLink]="['garment-discounted-list']" ><img src="../../../../assets/public/img/sale_garment.png" alt=""></a>
        </div>
        <div class="card__sale" >
            <a [routerLink]="['videogames-discounted-list']" ><img src="../../../../assets/public/img/sale_videogames.png" alt=""></a>
        </div>
        <div class="card__sale" >
           <a [routerLink]="['toys-discounted-list']" > <img src="../../../../assets/public/img/sale_toy.png" alt=""></a>
        </div>

    </div>
</div>

