<div
class="form"
>
<p>INICIA SESION</p>
    <form
    *ngIf="logForm"
    (submit)="sendFormulario()"
    class="form__content"
    [formGroup]="logForm"
    >
        <input
        name="email"
        formControlName="email"
        placeholder="Introduzca su email" 
        class="form__content-email"
        type="text">
        <p
    *ngIf="!logForm.get('email')?.valid 
      && logForm.get('email')?.dirty 
      && logForm.get('email')?.errors?.['required']"
  >El valor está requerido</p>
  <p
    *ngIf="!logForm.get('email')?.valid 
      && logForm.get('email')?.touched 
      && logForm.get('email')?.errors?.['pattern']"
  >No es un formato de email valido</p>
        <input
        name="password"
        formControlName="password"
        placeholder="Introduzca su contraseña" 
        class="form__content-password"
        type="password">
        <p
    *ngIf="!logForm.get('password')?.valid 
      && logForm.get('password')?.dirty 
      && logForm.get('password')?.errors?.['required']"
  >El valor está requerido</p>
  <p
    *ngIf="!logForm.get('password')?.valid 
      && logForm.get('password')?.dirty 
      && logForm.get('password')?.errors?.['maxlength']"
  >La contraseña debe tener entre 4 y 12 caracteres</p>
  <p
    *ngIf="!logForm.get('password')?.valid 
      && logForm.get('password')?.touched  
      && logForm.get('password')?.errors?.['minlength']"
  >La contraseña debe tener entre 4 y 12 caracteres</p>
        <p 
        *ngIf="userError"
        class="form__content-error"
        >{{ userError }}</p>
        <button
        [disabled]="!logForm.valid"
        type="submit"
        class="button">ENVIAR</button>
    </form>
    <h3
    class="form__content-loginNotUser"
    >Aun no eres usuario? 
    <a 
      (click)="goToRegister()"
    >REGISTRATE</a></h3>
</div>