<div class="footer">
  <p>Todos los derechos reservados</p>
  <p>Síguenos!</p>
  <div class="footer__redes" >
    <a  [routerLink]="['home']">
      <img class="footer__img"  src="../../../../assets/public/img/facebook.png" />
    </a>
    <a  [routerLink]="['home']">
        <img class="footer__img" src="../../../../assets/public/img/gorjeo.png" />
      </a>
      <a  [routerLink]="['home']">
        <img class="footer__img"  src="../../../../assets/public/img/instagram.png" />
      </a>
  </div>
  <div class="footer__pago" >
    <img class="footer__pago_img" src="../../../../assets/public/img/payment-mastercard.png" >
    <img class="footer__pago_img" src="../../../../assets/public/img/payment-paypal.png" >
    <img class="footer__pago_img" src="../../../../assets/public/img/payment-visa.png" >
  </div>
</div>
