<div class="footer">
  <div class="footer__text">
    <p class="footer__text_contenido">Todos los derechos reservados</p>
    <p class="footer__text_contenido">Síguenos!</p>
  </div>
  <div class="footer__text">
   
  </div>

  <div class="footer__redes">
    <img class="footer__img" src="../../../../assets/public/img/facebook.png" />

    <img class="footer__img" src="../../../../assets/public/img/gorjeo.png" />

    <img
      class="footer__img"
      src="../../../../assets/public/img/instagram.png"
    />
  </div>
  <div class="footer__pago">
    <img
      class="footer__pago_img"
      src="../../../../assets/public/img/payment-mastercard.png"
    />
    <img
      class="footer__pago_img"
      src="../../../../assets/public/img/payment-paypal.png"
    />
    <img
      class="footer__pago_img"
      src="../../../../assets/public/img/payment-visa.png"
    />
  </div>
</div>
