<div class="novedades" >
    <div class="text__novedades" >
        <h3>
            Novedades del mes
        </h3>
        <p class="text__novedades_content" >Echa un vistazo a los mejores lanzamientos de este mes en libros y videojuegos.</p>
    </div >
    <div class="novedades__container" >
          <div class="card__novedades" >
             <a href="http://localhost:4200/videogames/64219a7d37a625a87818682b" ><img class="card__novedades_img" src="../../../../assets/public/img/novedades_videogames.png" ></a>
        </div>
        <div class="card__novedades" >
              <a href="http://localhost:4200/videogames/64219a7d37a625a878186831" ><img class="card__novedades_img"  src="../../../../assets/public/img/novedades_videogames_2.png" ></a>
        </div>
        <div class="card__novedades" >
            <a href="http://localhost:4200/detail/64219a7d37a625a8781867cf" ><img class="card__novedades_img"  src="../../../../assets/public/img/novedades_book.png" ></a>
        </div>
        <div class="card__novedades" >
             <a href="http://localhost:4200/detail/64219a7d37a625a8781867dc" ><img class="card__novedades_img"  src="../../../../assets/public/img/novedades_book_2.png" ></a>
        </div>
      
    </div>
</div>
