<div class="novedades" >
    <div class="text__novedades" >
        <h3>
            Novedades del mes
        </h3>
        <p class="text__novedades_content" >Echa un vistazo a los mejores lanzamientos de este mes en libros y videojuegos.</p>
    </div >
    <div class="novedades__container" >
          <div class="card__novedades" >
             <a href="https://jobi-ecommerce.vercel.app/videogames/6423e7db34b2862de1441918" ><img class="card__novedades_img" src="../../../../assets/public/img/novedades_videogames.png" ></a>
        </div>
        <div class="card__novedades" >
              <a href="https://jobi-ecommerce.vercel.app/videogames/6423e7db34b2862de144191e" ><img class="card__novedades_img"  src="../../../../assets/public/img/novedades_videogames_2.png" ></a>
        </div>
        <div class="card__novedades" >
            <a href="https://jobi-ecommerce.vercel.app/detail/6423e7db34b2862de14418bc" ><img class="card__novedades_img"  src="../../../../assets/public/img/novedades_book.png" ></a>
        </div>
        <div class="card__novedades" >
             <a href="https://jobi-ecommerce.vercel.app/detail/6423e7db34b2862de14418c9" ><img class="card__novedades_img"  src="../../../../assets/public/img/novedades_book_2.png" ></a>
        </div>
      
    </div>
</div>
