.div_buttons{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 35px;
    margin-top: 25px;
}
.addButton{
    background-color: cadetblue;
    font-weight: bold;
    padding: 5px 10px;
    color: whitesmoke;
    border: solid 1.5px cadetblue;
    cursor: pointer;
    &:hover{
        background-color: whitesmoke;
        color: cadetblue;
    }
    .fa-sharp, .fa-solid, .fa-basket-shopping{
        font-size: 15px;
        color: white;
        &:hover{
            color: cadetblue;
        }
    }
}
