.div-buttons{
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 35px;
  margin-top: 25px;
  .cart-btn{
    font-size: 16px;
    //width: 30%;
    font-weight: bold;
    align-self: center;
    border: none;
    border-radius: 0.25rem;
    margin: 0.75rem 0;
    background-color: cadetblue;
    color: #FFF;
    cursor: pointer;
    padding: 1rem;
    &:hover{
      background-color: whitesmoke;
      color: cadetblue;
    }
    .fa-sharp, .fa-solid, .fa-basket-shopping{
      font-size: 20px;
      color: white;
      &:hover{
        color: cadetblue;
      }
    }
  }
}

.fa-trash{
  color: red;
  font-size: 20px;
}
.spanNumber{
  background-color: cadetblue;
  color: white;
}
.fa-minus{
  font-size: 20px;
}
.fa-plus{
  font-size: 20px;
}

@media screen  and (min-width: 320px) and (max-width: 576px){
  .div-buttons{
    width: 400px;
  }
}