.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 100px;
   
    
}   

.card_Category_img{
    width: 290px;
    height: 260px;
    border-radius: 20px;
    object-fit: cover;
    
}

.card__Category {
    width: 370px;
    height: 380px;  
    border-radius: 20px;
   // background: linear-gradient(135deg, #ffffff 0%, #ffffff 100%);
    //background-color: rgb(241, 241, 241);
    position: relative;
    padding: 2.5 rem;
    transition: 0.3s ease-out;  
    overflow: visible;
    border: rgb(255, 255, 255) 0.17em solid;
    cursor: pointer;
   }    
   
   .card__Category_details {
    color: rgb(0, 0, 0);
    height: 100%;
    
    display: grid;
    place-content: center;
   }
      
   /*Text*/
   .text-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #222E3A;
    text-align: center;
    padding-top: 15px;

   }
   
   /*Hover*/
   .card__Category:hover {
    border-color:  #222E3A;  
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 
   }
   
   .card__Category:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }





