.gitHub{
    background: #ccc;
    background: linear-gradient(30deg, lightblue, rgb(123, 185, 255), #5294f1, #84ff09, rgb(169, 255, 169));
    color: rgb(127, 255, 255);
    font-size: 40px;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    }

    .footerGit{
        color: white;
        font-size: 12px;
        margin-top: 3px;
    }



   


   
    