.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
 



  &__nav {
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1px;
    
  }
  &__nav_ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  &__nav_li {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
     
  }

  &__nav_a {
    color: #222E3A;
  }
}
