<div class="card-detail"
*ngIf="garment;">

    <div>
<img class="card-detail__img"[src]="garment.image">
</div>

<div class="card-detail__content" *ngIf="garment; else garmentNotFound">
    <p class="card-detail__content__name">{{ garment.name }}</p>
    <p class="card-detail__content__price">{{ garment.price }}€</p>
    <p class="card-detail__content__description">{{ garment.description }}</p>
    <p class="card-detail__content__size">Talla: {{ garment.size }}</p>
   
    <p class="card-detail__content__color">Color: {{ garment.color }}</p>
    <p class="card-detail__content__stock">En stock: {{ garment.stock }}</p>        
   
  
</div>


<ng-template #garmentNotFound>
    <p>No hay un ropa con ese Id</p>
</ng-template>

</div>